<!DOCTYPE html>
<html>
  <head>
    <title><%= weather.request.query %> — <%= title %></title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-300 flex items-center content-center h-screen">
    <div class="max-w-lg mx-auto p-4 bg-white shadow-xl rounded-lg text-center">
      <div class="bg-blue-100 shadow rounded-lg p-10">
        <h1 class="text-3xl font-bold pt-4">
          <%= weather.location.name %>
        </h1>
        <span><%= weather.location.country %></span>
        <h2 class="text-6xl py-8">
          <%= weather.current.temperature %>&deg;C
        </h2>
        <span><%= weather.current.weather_descriptions[0] %></span>
      </div>
    </div>
  </body>
</html>
